# Ignore everything
*

# But not these files...
!*.py
!*.in
!*.scad
!*.stl
!*.ipynb
!*.cpp
!*.hpp
!.gitignore
!README.md
!*.sh
!*.slurm
!Makefile
!*_template-run-folder_*/
!runs.txt
!*.m
!*.dat

# ...even if they are in subdirectories
!*/

# still ignore:
.ipynb_checkpoints/
*-jvxc-*
